<div style="display: flex;">
    <img style="width:100%;" src="{{ 'bg_image-handwrites.png' | asset_img_url: '2048x' }}" />
</div>
<div style="display: flex;">
    <img style="width:100%;" src="{{ 'bg_customer-review.png' | asset_img_url: '2048x' }}" />
</div>