<div class="page-full page-content">
  {%- render 'breadcrumbs' -%}
  <header class="section-header">
    <h1 class="section-header__title">{{ page.title | escape }}</h1>
  </header>

  <div class="rte rte--nomargin">
    {{ page.content }}
  </div>
</div>

{% schema %}
{
  "name": "Page (full width)",
  "tag": "section"
}
{% endschema %}
